body{
    background-color: black;
    color: aqua;
    font-family: comic sans ms  ;
    text-align: center;
    border: solid 2px blueviolet;
}

h1{
    text-align: center;
    background-color: aliceblue;
}

p{
    line-height: 2.0 ;
    font-size: 100%;
}