body{
    background-color: black;
    color: aqua;
    font-family: comic sans ms  ;
    text-align: center;
    border: double 10px blueviolet;
}

h1{
    text-align: center;
    background-color: aliceblue;
    font-size: 400%;
}

p{
    line-height: 2.0 ;
    font-size: 200%;
}
u{
    font-size: 130%;
}